.container {
  position: relative;
}

.carousel {
  position: relative;
  padding: 2rem 0;
}

.carousel img {
  height: 90vh;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 20px;
}

.thumbs-wrapper {
  display: none;
}

.carousel-status {
  display: none;
}

.audio-toggle-buttoni {
  position: absolute;
  top: 6%;
  left: -333px; /* Vendosja në anën e majtë */
  margin-top: 45px;
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.audio-toggle-buttoni svg {
  margin-right: 8px;
}

.audio-toggle-buttoni:hover {
  background-color: #0056b3;
}

.custom-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}

.custom-arrow:hover {
  width: 65px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.7);
}

.custom-arrow:before {
  content: '';
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 5px;
  display: inline-block;
}

.custom-prev:before {
  transform: rotate(135deg);
}

.custom-next:before {
  transform: rotate(-45deg);
}
